In [1]:
import pandas as pd

In [2]:
data = {'Name':['Alice','Bob','Charlie','David','Eva'],
        'Age':[30,25,35,40,28],
        'City':['NewYork','LA','Chicago','Spain','NewYork'],
        'Salary':[70000,55000,80000,95000,62000]}

df = pd.DataFrame(data)

In [3]:
df.to_csv('CSV_File')
a = pd.read_csv('CSV_File')

In [4]:
print("First 10 records:\n",a.head(10))
print("Last 10 records:\n",a.tail(10))

First 10 records:
    Unnamed: 0     Name  Age     City  Salary
0           0    Alice   30  NewYork   70000
1           1      Bob   25       LA   55000
2           2  Charlie   35  Chicago   80000
3           3    David   40    Spain   95000
4           4      Eva   28  NewYork   62000
Last 10 records:
    Unnamed: 0     Name  Age     City  Salary
0           0    Alice   30  NewYork   70000
1           1      Bob   25       LA   55000
2           2  Charlie   35  Chicago   80000
3           3    David   40    Spain   95000
4           4      Eva   28  NewYork   62000

In [5]:
print("Shape:",a.shape)
print("Index:",a.index)
print("Column:",a.columns)

Shape: (5, 5)
Index: RangeIndex(start=0, stop=5, step=1)
Column: Index(['Unnamed: 0', 'Name', 'Age', 'City', 'Salary'], dtype='object')

In [6]:
print("Selected data:\n",a[a['Age']>30])
print("Deleted data:\n",a.drop(columns='City'))

Selected data:
    Unnamed: 0     Name  Age     City  Salary
2           2  Charlie   35  Chicago   80000
3           3    David   40    Spain   95000
Deleted data:
    Unnamed: 0     Name  Age  Salary
0           0    Alice   30   70000
1           1      Bob   25   55000
2           2  Charlie   35   80000
3           3    David   40   95000
4           4      Eva   28   62000

In [7]:
a['SalaryRank'] = a['Salary'].rank(ascending=False)
print(a)

   Unnamed: 0     Name  Age     City  Salary  SalaryRank
0           0    Alice   30  NewYork   70000         3.0
1           1      Bob   25       LA   55000         5.0
2           2  Charlie   35  Chicago   80000         2.0
3           3    David   40    Spain   95000         1.0
4           4      Eva   28  NewYork   62000         4.0

In [8]:
print("Sorting:\n",a.sort_values(by='Age'))

Sorting:
    Unnamed: 0     Name  Age     City  Salary  SalaryRank
1           1      Bob   25       LA   55000         5.0
4           4      Eva   28  NewYork   62000         4.0
0           0    Alice   30  NewYork   70000         3.0
2           2  Charlie   35  Chicago   80000         2.0
3           3    David   40    Spain   95000         1.0

In [9]:
print("Mean Salary:",a['Salary'].mean())
print("Median Salary:",a['Salary'].median())

Mean Salary: 72400.0
Median Salary: 70000.0

In [10]:
print("City count:",a['City'].value_counts())
print("Unique Cities:",a['City'].unique())

City count: City
NewYork    2
LA         1
Chicago    1
Spain      1
Name: count, dtype: int64
Unique Cities: ['NewYork' 'LA' 'Chicago' 'Spain']

In [11]:
print("Renaming:\n",a.rename(columns={'Age':'EmpAge','Salary':'EmpSalary'}))

Renaming:
    Unnamed: 0     Name  EmpAge     City  EmpSalary  SalaryRank
0           0    Alice      30  NewYork      70000         3.0
1           1      Bob      25       LA      55000         5.0
2           2  Charlie      35  Chicago      80000         2.0
3           3    David      40    Spain      95000         1.0
4           4      Eva      28  NewYork      62000         4.0